[submodule "matmake"]
	path = matmake
	url = https://github.com/mls-m5/matmake
[submodule "lib/libzmq"]
	path = lib/libzmq
	url = https://github.com/zeromq/libzmq
[submodule "lib/bluezero"]
	path = lib/bluezero
	url = https://github.com/CoppeliaRobotics/bluezero
[submodule "lib/matgui"]
	path = lib/matgui
	url = https://github.com/mls-m5/matgui
[submodule "lib/matmath"]
	path = lib/matmath
	url = https://github.com/mls-m5/matmath
